# Next.js build cache
.next/
!.next/static/image/**
!.next/static/chunks/**
.next/cache/

# node dependencies
node_modules/

# compressed production builds
*.gz

# VSCode settings
.vscode/

# Environment variables
.env.local
.env*.local
