openapi: 3.0.3
info:
  title: OmniGateway API — 萬能蜂群統一 AI 邊緣閘道
  description: >
    OmniGateway 是 ESG-GO 萬能蜂群的 Cloudflare Worker 統一 AI 邊緣閘道。
    職責：Bearer/x-omni-token 雙認證 → AI Crawl Control → 語意快取 (KV)
    → 多供應商容錯路由 (OpenRouter → Groq → Gemini → PRIVATE_API)
    → 源站稽核 (audit sink)。

    契約基因：5T (Traceable/Trackable/Tangible/Transparent/Trustworthy)、
    4可1不可（可自理/可協作/可演化/可溯源；不可篡改）、熵減 < 0.1。
  version: 1.0.0
  x-omnitag:
    - agent:07
    - squad:符文契約
    - lifecycle:active
    - p1
    - platform:cloudflare
    - best-practice:结界
  x-5t:
    traceable: "每一請求產生 requestId (x-request-id) 並經 cf-aig-metadata 傳遞"
    trackable: "源站稽核 sink 記錄 ts/method/path/clientIp/userAgent/requestId/status"
    tangible: "/status 回傳即時健康與路由狀態，可感知"
    transparent: "成功/快取/錯誤三形狀明確，無黑箱"
    trustworthy: "回應體一律 Object.freeze 等效不可變；認證失敗一律 401"
servers:
  - url: https://omniagent.esggo.co
    description: Production Cloudflare Edge
  - url: https://omnigateway.esggo.co
    description: Production alias
security:
  - BearerAuth: []
  - OmniTokenAuth: []
tags:
  - name: system
    description: 系統健康與模型清單（公開，無需認證）
  - name: generation
    description: AI 生成路由（受保護，需 Bearer 或 x-omni-token）
paths:
  /status:
    get:
      tags: [system]
      summary: 閘道健康狀態
      operationId: getStatus
      security: []
      responses:
        '200':
          description: 閘道健康，含供應商路由現況
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        '502':
          description: 閘道失聯或上游全滅
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /health:
    get:
      tags: [system]
      summary: 存活探針（供負載平衡/健康檢查）
      operationId: getHealth
      security: []
      responses:
        '200':
          description: 存活
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    enum: [true]
                  ts:
                    type: string
                    format: date-time
  /v1/models:
    get:
      tags: [system]
      summary: 列出可用模型（公開唯讀）
      operationId: listModels
      security: []
      responses:
        '200':
          description: 模型清單
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelsResponse'
  /v1/chat/completions:
    post:
      tags: [generation]
      summary: OpenAI 相容聊天完成（多供應商容錯路由）
      operationId: createChatCompletion
      security:
        - BearerAuth: []
        - OmniTokenAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
      responses:
        '200':
          description: 成功（provider 原始回應）或快取命中
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ChatCompletionResponse'
                  - $ref: '#/components/schemas/CachedResponse'
          headers:
            x-request-id:
              schema:
                type: string
              description: 可追蹤 requestId
            x-omni-cache:
              schema:
                type: string
                enum: [HIT, MISS]
              description: 語意快取結果
        '401':
          description: 認證失敗（Bearer 或 x-omni-token 不匹配 OMNI_GATEWAY_KEY）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 速率限制或花費上限觸發
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: 全部容錯供應商失敗
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT-or-opaque
      description: Authorization: Bearer <OMNI_GATEWAY_KEY>
    OmniTokenAuth:
      type: apiKey
      in: header
      name: x-omni-token
      description: x-omni-token: <OMNI_GATEWAY_KEY>
  schemas:
    StatusResponse:
      type: object
      required: [status, providers, version]
      properties:
        status:
          type: string
          enum: [ok, degraded, down]
        providers:
          type: array
          items:
            type: object
            required: [name, healthy]
            properties:
              name:
                type: string
                enum: [openrouter, groq, gemini, private_api]
              healthy:
                type: boolean
              latencyMs:
                type: integer
                minimum: 0
        version:
          type: string
          example: 1.0.0
        entropy:
          type: number
          format: float
          description: 系統熵值（< 0.1 為佳）
          example: 0.07
    ModelsResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            type: object
            required: [id, provider]
            properties:
              id:
                type: string
                example: gpt-4o-mini
              provider:
                type: string
                enum: [openrouter, groq, gemini, private_api]
    ChatCompletionRequest:
      type: object
      required: [messages]
      properties:
        model:
          type: string
          description: 目標模型 id（省略時由閘道依路由策略挑選）
        messages:
          type: array
          minItems: 1
          items:
            type: object
            required: [role, content]
            properties:
              role:
                type: string
                enum: [system, user, assistant]
              content:
                type: string
        temperature:
          type: number
          format: float
          minimum: 0
          maximum: 2
        max_tokens:
          type: integer
          minimum: 1
        stream:
          type: boolean
          default: false
          description: 串流（SSE）支援
        x-omni-provider:
          type: string
          description: 強制指定供應商（openrouter/groq/gemini/private_api），略過容錯
    ChatCompletionResponse:
      type: object
      description: 供應商原始回應（透傳，data 包裹）
      required: [data]
      properties:
        data:
          type: object
          description: 上游 provider 回應體（OpenAI 相容形狀）
          additionalProperties: true
        provider:
          type: string
          enum: [openrouter, groq, gemini, private_api]
          description: 實際命中供應商
        requestId:
          type: string
    CachedResponse:
      type: object
      required: [cached, data]
      properties:
        cached:
          type: boolean
          enum: [true]
        data:
          type: object
          description: 快取回應體
          additionalProperties: true
        ttl:
          type: integer
          description: 剩餘快取秒數
          example: 1530
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
          enum:
            - all_fallback_providers_failed
            - unauthorized
            - rate_limited
            - upstream_error
            - bad_request
          example: all_fallback_providers_failed
        message:
          type: string
        requestId:
          type: string
          description: 與 x-request-id 對應，便於溯源
