# Your RPC URL for connecting to the Polygon Mainnet (from Alchemy, Infura, etc.)
POLYGON_RPC_URL="https://polygon-rpc.com"

# Your RPC URL for connecting to the Amoy Testnet
AMOY_RPC_URL="https://rpc-amoy.polygon.technology/"

# The private key of the account you want to use for deployment
# IMPORTANT: This is highly sensitive. Do not commit this to version control.
# Example: 0xabcdef123456...
DEPLOYER_PRIVATE_KEY=""

# Your API key from Polygonscan to verify the contract source code
POLYGONSCAN_API_KEY=""
